::ng-deep *
    margin: 0
    padding: 0

body
    box-sizing: border-box

/**
 Reusable classes
 */
.wrapper
    display: flex
    justify-content: center
    width: 100%

.container
    width: 100%
    max-width: 1000px
    padding: 40px 20px
